* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(images/kara-eads-WKfq1fm4gkU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;  
    padding: 30px;
    font-family: 'DM Serif Display'
}

/*utilizing the imported google font*/
.logo {
    font-size: 100px;
    color: black;   
    margin-left: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0; 
    gap: 100px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    background-color: rgb(255, 255, 255, 0.1)
}

/*HERO SECTION*/
.hero {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 500px;
    height: auto;   
    margin: 100px 130px;
    gap: 20px;
}

.hero-title {
    font-size: 35px;
    font-weight: bolder;
    width: 250px;
}

.hero-content {
    font-size: 20px;
}