* {
    box-sizing: border-box;
}

/*used background image from Photo by <a href="https://unsplash.com/@karaeads?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kara Eads</a> on <a href="https://unsplash.com/s/photos/plant-background?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>*/
.homepage {
    margin: 0;
    background-image: url(images/kara-eads-WKfq1fm4gkU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;  
    padding: 30px;
    font-family: 'DM Serif Display';
    background-color: rgb(252, 248, 248);
}

/*utilizing the imported google font*/
.logo {
    font-size: 100px;
    font-style: italic;
    color: black;   
    margin-left: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0; 
    gap: 100px;
}

a.homelinks {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    background-color: rgb(255, 255, 255, 0.1)
}

a.homelinks:hover {
    border-bottom: 2px solid black;
}

/*HERO SECTION*/
.hero {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 500px;
    height: auto;   
    margin: 100px 130px;
    gap: 20px;
}

.hero-title {
    font-size: 35px;
    font-weight: bold;
    width: 250px;
}

.hero-content,
.about-content {
    font-size: 20px;
}

/*BODY SECTION*/

.body {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.3);
}

.quote {
    font-size: 30px;
    width: 600px;    
}

.quote-artist {
    padding-left: 500px;
    font-size: 20px;
}

/*FOOTER SECTION*/

.test {
    position: fixed;
    left: 45%;
    bottom: 0;
    text-align: center;
}

/*ABOUT HEADER*/

/*image was used from Photo by <a href="https://unsplash.com/es/@chrisleeiam?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Chris Lee</a> on <a href="https://unsplash.com/s/photos/house-plant?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
*/
.about {
    margin: 0;
    background-image: url(images/chris-lee-70l1tDAI6rM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

a.logo {
    text-decoration: none;
}

.about-content {
    margin: 100px;
    height: 500px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    background-color: rgb(255, 255, 255, 0.05);
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

a.purchase {
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: bolder;
}

/*PLANT PAGE*/
.plant {
    margin: 0px;
    background-image: url(images/sarah-dorweiler-9Z1KRIfpBTM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.plant-content {
    margin: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.plant-section {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    font-size: 20px;
    gap: 25px;  
}

.plant-chart {
    float:left;
    width: 500px;
    height: 500px;
}

/*CONTACT PAGE*/

.contact {
    margin: 0;
    background-image: url(images/chris-lee-yb3hsmz4utg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 300px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.contact-box {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 700px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'DM Serif Display';
    gap: 75px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact-us {
    border-radius: 50px;
    border: none;
    background-color: black;
    color: white;
    height: 40px;
    width: 150px;
    text-align: center;
    padding-top: 5px;
}

a.contact-us:hover {
    background-color: white;
    color: black;
}

/*transition duration will create the color change effect*/
a.contact-us {
    text-decoration: none;
    transition-duration: 0.4s
}

.contact-photo {
    border: 2px solid black;
    background-color: black;
    width: 500px;
    height: 700px;
    text-align: center;
    color: white;
}

.contact-title {
    font-size: 75px;
}
